#topCard {
  height: 450px;
}

@media screen and (max-width:927px) {
 #usualButton{
    display: none;
  }
  #mobileButton{
    margin-bottom: 15px;
  }
}

.calendarWrapper{
  position: relative;
}
.collapse{
  position: absolute;
}

.scroll-container {
  overflow-y: auto;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-daterange{
  width: 50%;
}

#toInput{
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

#filterButtons{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}

.collapse{
  position: initial;
}

.inverted-width{
  width: 100%;
}

.icon{
  display: flex!important;
  align-items: center;
  justify-content: center;
  padding: 0px!important;
  min-width: 38px;
}

#logoutButton {
  margin: 9px 0px;
}

.topbar #sidebarToggleTop{
  transition: all .15s linear;
}

.datepicker{
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
  animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
}

#loadingAnim{
  background-color: rgb(230 230 230 / .5);
  z-index: 81;
  height: 125px;
  width: 125px;
  top: calc(50vh - 62.5px);
  left: calc(50vw - 62.5px);
  border-radius: 15px;
  backdrop-filter: blur(3px);
}

.dropdown-menu{
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-menu a{
  cursor: pointer;
}

@media all and (max-width: 650px){
  .input-daterange{
    width: 100%;
    margin: 10px 0px;
  }
  .shadow-sm{
    display: block;
    float: none!important;
    margin: 0px 0px 10px 0px!important;
  }
  .btns-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}

@media all and (min-width: 450px) and (max-width: 650px){
  #filterButtons{
    justify-content: space-between;
  }
}

@media all and (max-width: 450px){
  #filterButtons{
    display: initial;
    padding-top: 10px;
  }
  .h3{
    text-align: center;
    margin-right: 0px;
  }
}

@media all and (max-width: 767px){
  #accordionSidebar{
    position: fixed;
    z-index: 1;
    transition: all .1s linear;
  }

  #sidebarToggleTop{
    position: absolute;
    z-index: 2;
    color: black;
    top: 15px;
    left: 30px;
  }

  .toggle-blur{
    filter: blur(2px) grayscale(0.9);
    pointer-events: none;
    user-select: none;
  }

  .sidebar-brand{
    margin-top: 45px;
  }
  
  .h3{
    text-align: center;
    margin-right: 10px;
  }

  body:not([class="sidebar-toggled"]){
    overflow-y: hidden;
  }
}